/* --------------------------------------- */
/* ------------>>> GLOBAL <<<------------- */
/* --------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P|VT323|Source+Sans+Pro);

header, footer, section {
	width:100%;
	margin-right: auto;
	margin-left: auto;
}

p, a {
	font-family:'Source Sans Pro', helvetica, arial, sans-serif;
}

p {
	color: #2b2b2b;
}

a {color: #CC3399;}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Press Start 2P', monospace;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 3px;
	text-shadow:0 0 6px;
}


/* ------------------------------------ */
/* --------->>> HEADER <<<--------- */
/* ------------------------------------ */
header {
	padding:110px 0 40px;
	text-align: center;
	background: #CCFFFF;
	color: #FF33CC;
	border-bottom: 5px double #FD81E1;
}

header h1 {
	font-size:40px;


}
header p {
	font-family:'VT323', monospace;
	font-size:18px;
}



/* ------------------------------------ */
/* --------->>> NAVIGATION <<<--------- */
/* ------------------------------------ */
nav {
	width:70%;
	margin:0 auto;

}
.nav h1 {
	font-size:28px;
	text-align:center;
	padding:28px;
	background:#CCCCFF;
	color:#CCFFFF;
	margin-bottom:20px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	text-align:center;
}

li a {
	display:block;
	font-family:'VT323', monospace;
	border-radius: 5px;
	padding:15px 30px;
}
#hw1 {background-color: #ffc3e1;}
#hw2 {background-color: #ffe2a7;}
#hw3 {background-color: #fffa9d;}
#hw4 {background-color: #c6f8a6;}
#hw5 {background-color: #afe2ff;}
#hw6 {background-color: #e3b6fb;}


/* ------------------------------------ */
/* --------->>> FLARE <<<--------- */
/* ------------------------------------ */
.unicorn {
	margin-left:-40px;
	text-align:center;
}
#sparkle1 {
	position:relative;
	left:160px;
	bottom:80px;
	transform:rotate(50deg);
}
#sparkle2 {
	position: relative;
	top:30px;
	right:60px;
}




