/* --------------------------------------- */
/* ------------>>> GLOBAL <<<------------- */
/* --------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P|VT323);
#container {
	position:relative;
	overflow:hidden;
}

body {
	background-color: white;
}

header, footer, section {
	width:100%;
	margin-right: auto;
	margin-left: auto;
}

p {color: #2b2b2b;}

a {
	color: #CC3399;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Press Start 2P', monospace;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 8px;

}


/* ------------------------------------ */
/* ----------->>> HEADER <<<----------- */
/* ------------------------------------ */
header {
	padding:110px 0 40px;
	text-align: center;
	background: #CCFFFF;
	color: #FF33CC;
	border-bottom: 3px dotted #FD81E1;
}

header h1 {
	font-size:40px;
	text-shadow:#f5a3eb 0 0 6px;
	margin:20px 0;
	padding:10px;
}

header p {
	font-family:'VT323', monospace;
	font-size:24px;
	color:#fd81e1;
	margin-bottom:20px;
}


/* ------------------------------------ */
/* --------->>> NAVIGATION <<<--------- */
/* ------------------------------------ */
.nav {
	margin-bottom:60px;
}

nav {
	width:80%;
	max-width: 1170px;
	margin:0 auto;
}

.nav h1 {
	font-family:'VT323', monospace;
	font-size:36px;
	text-align:center;
	padding:28px;
	background:#CCCCFF;
	color:#CCFFFF;
	margin-bottom:30px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	text-align:center;
}

li a {
	font-size:18px;
	display:block;
	font-family:'VT323', monospace;
	border-radius: 5px;
	width:140px;
	padding:15px 0;
}


nav a {
	opacity:1;
	cursor:pointer;

}

nav a[href="#"] {
	opacity:.5;
	cursor:default;
}

nav a[href="#"]:hover {
	background-image:none;
	color:#CC3399;
}

nav a:hover {
	color:#fff;
	background-image:url('../images/sparkle_green.gif');
}

#final-project {
	text-align:center;
	display:block;
	background: #ffc3e1; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffc3e1 1%, #ffe2a7 20%, #fffa9d 40%, #c6f8a6 60%, #afe2ff 80%, #e3b6fb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #ffc3e1 1%,#ffe2a7 20%,#fffa9d 40%,#c6f8a6 60%,#afe2ff 80%,#e3b6fb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #ffc3e1 1%,#ffe2a7 20%,#fffa9d 40%,#c6f8a6 60%,#afe2ff 80%,#e3b6fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc3e1', endColorstr='#e3b6fb',GradientType=1 ); /* IE6-9 */

	padding:15px 0;
	border-radius:5px;
	font-size:18px;
	font-family:'VT323', monospace;
}

#hw1 {background-color: #ffc3e1;}
#hw2 {background-color: #ffe2a7;}
#hw3 {background-color: #fffa9d;}
#hw4 {background-color: #c6f8a6;}
#hw5 {background-color: #afe2ff;}
#hw6 {background-color: #e3b6fb;}


/* ------------------------------------ */
/* ----------->>> FLARE <<<------------ */
/* ------------------------------------ */
footer {
	text-align:center;
}

#unicorn {
	width:100%;
	max-width:500px;
	margin-right:100px;
}

.sparkles {
	position:relative;;
	width:320px;
	text-align:center;
	margin:0 auto;
}

#sparkle1 {
	position:absolute;
	top:180px;
	left:-50px;
	transform:rotate(50deg);
}

#sparkle2 {
	position:absolute;
	top:0;
	right:50px;
}

#sparkle-btn, #clear-btn {
	display:inline-block;
	padding:10px 15px;
	background:white;
	border-radius:5px;
	position:relative;
	z-index: 9999;
	font-family:'VT323', monospace;
	font-size:18px;
}
#sparkle-btn {margin:15px 5px 0 0;}
#clear-btn {margin:15px 15px 0 0;}

#sparkle-btn:hover {
	font-style: italic;
	border-color: white;
}


/* -------------------------------------- */
/* -------->>> MEDIA QUERIES <<<--------- */
/* -------------------------------------- */
@media(max-width:1050px) {
	li a {
		width:250px;
		margin-bottom:10px;
	}
	#unicorn {
		margin-right:0;
	}
	#sparkle1 {
		left:0;
	}
	#sparkle2{
		right:0;
	}
}

@media(max-width:940px) {
	ul, li a, li {
		width:100%;
	}

}



