body {
	background: #9FBF8F;
	font-family: "Avenir", Arial, sans-serif;
	text-align: left;
	padding: 20px;
}
p {
	margin-top: 15px;
}

header {
	margin:40px 0px;
}

.home-btn {
  text-decoration: none;
  padding:20px ;
}
.home-btn img {
  width:25px;
  vertical-align: bottom;
}

.home-btn:hover {
  background-image:url('../../../images/sparkle_silver.gif');
}