body {
	background: #89998F;
	font-family: "Avenir", Arial, sans-serif;
	text-align: center;
	padding: 20px;
}
button {
	background: #5ABD7F;
	color: #F4FFF8;
	border: 1px solid #87B899;
	border-radius: 5px;
	line-height: 40px;
	padding: 0 20px;
	font-family: "Avenir", Arial, sans-serif;
	font-size: 16px;
}
.startup {
	margin: 20px;
}

.list {
	margin-top:40px;
}
header {
	margin:40px 0px;
}

.home-btn {
  text-decoration: none;
  padding:20px ;
}
.home-btn img {
  width:25px;
  vertical-align: bottom;
}

.home-btn:hover {
  /* background-color:white; */
  background-image:url('../../../images/sparkle_silver.gif');
}