/* Layout */
/* -------------------------------- */
body {
	background: #FFF0AA;
	min-width: 320px;
	max-width: 375px;
	padding: 20px;
}

ul {
	margin:20px 0 20px 8px;
	list-style-type: none;
}

li {
	margin-bottom:8px;
}

/* Typography */
/* -------------------------------- */
body,
button {
	font-family: "AvenirNext-Regular", sans-serif;
}


/* home btn */
/* -------------------------------- */

header {
	margin:25px 0;
}

.home-btn {
  text-decoration: none;
  padding:20px ;
}
.home-btn img {
  width:25px;
  vertical-align: bottom;
}

.home-btn:hover {
  /* background-color:white; */
  background-image:url('../../../images/sparkle_silver.gif');
}
