/* Layout */
/* -------------------------------- */
body {
	background: #FFF0AA;
	min-width: 320px;
	max-width: 375px;
	padding: 20px;
}

ul {
	margin:20px 0 20px 8px;
	list-style-type: none;
}

/* Typography */
/* -------------------------------- */
body,
button {
	font-family: "AvenirNext-Regular", sans-serif;
}


